body {
  background-color: #f0f4f8;
}
/* Style untuk modal QR Code */
#qrModal {
  display: none;
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
